<!DOCTYPE html>
<html>
	<head>
		<title> {% if page.title %} {{ page.title }} | {% endif %}ToTheMathmos.com</title>
		<link rel="icon" type="/image/ico" href="images/favicon.ico">
        <link rel="stylesheet" href="/css/style2.css" />
		<link rel="stylesheet" type="text/css" href="/css/csharp.css" >
			<script type="text/javascript" src="/js/banner.js"></script>
			<script type="application/javascript">
				//initBanner();
			</script>
	</head>
	<body>
		<div id="everything">
			<div id="header">
				<!--<canvas id="bannerbg" width="1000" height="150">-->
					<img src="/images/banner-backup.png" alt="banner"/>
				<!--</canvas>-->
		   </div>
			<div id="middle">
                <div id="left_column">
                    <div id="navigation">
						<a href="/">Blog</a>
						<a href="/portfolio/">Portfolio</a>
						<a href="/cv/">CV</a>
						<a href="/about/">About</a>
					</div>
				</div>
				<div id="middle_column">
					<div id="page_title">{{ page.title }}</div>
					<div id="content">
						{{ content }}
					</div>
				</div>
			</div>
			<div id="footer">Copyright&copy; 2013</div>
		</div>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-6807315-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>